<div>
    <div>
        <input type="number" [(ngModel)]="first_currency" (keyup)="onChange($event)" id="firstInput">
        <select name="first_currency" id="">
            <option value="uah">UAH</option>
            <option value="usd">USD</option>
            <option value="eur">EUR</option>
        </select>
    </div>
    <div>
        <input type="number" [(ngModel)]="second_currency" (keyup)="onChange($event)" id="secondInput">
        <select name="second_currency" id="">
            <option value="uah">UAH</option>
            <option value="usd" selected>USD</option>
            <option value="eur">EUR</option>
        </select>
    </div>
</div>
