<nav class="nav">
  <a class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}" routerLink="/">Home</a>
  <a class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}" routerLink="/users">Users</a>
  <a class="link" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:
    true}"routerLink="/exchange">Exchange</a>
</nav>
@if(prop){
  <h1 >{{prop}}</h1>
} @else{
  <h1>without prop</h1>
}

<!-- <app-first [data]="title" (outputArticle)="receiveArticle($event)" (outputType)="receiveType($event)"></app-first> -->
<p>i'm typing this: {{typed}}</p>
<!-- <app-users-list></app-users-list> -->
<router-outlet></router-outlet>